<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/topics.css">
    <title><%=name%></title>
</head>
<body>
    <nav>
        <a id="backToTopics" href="/t">home</a>
        <a id="createPost" href="./<%= adrName %>/new">Create new post</a>

    </nav>
    <article>
        <div class="topicHeader">
            <h1 id="topicName"><%= name.toUpperCase() %> </h1>
            <p class="topicDescription"><%= description %></p>
        </div>
        <div>
            <div class="pageNumbers">
                <% for (let i = 1; i <= numberOfPages; i++) { %>
                    <a class="topicLink" href="/t/<%= adrName %>/pg/<%= i %>">[<%= i %>]</a>
                <% } %>
            </div>
            <% for( let i = 0; i < postData.length; i++ ) { %>
              <% const element = postData[i]; %>
              <a href="/p/<%=element.id%>">
                  <div class="postContainer">
                      <h2 class="topicName"><%= element.postName %></h2>
                      <p><%= element.postText%></p> 
                  </div>
              </a>
            <% } %>
        </div>
        <% if (numberOfPages < 3) {%>
            <div class="pageNumbers">
                <% for (let i = 1; i <= numberOfPages; i++) { %>
                    <a class="topicLink" href="/t/<%= adrName %>/pg/<%= i %>">[<%= i %>]</a>
                <% } %>
            </div>
        <% } else {%>
            lol
            <% } %>
    </article>
</body>
</html>